<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!--Font Awesome for Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <title>Cornucopia</title>
</head>

<body>

  <nav class="orange darken-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Cornucopia</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <div class="input-field col s6">
            <input placeholder="Search for a recipe..." id="recipe" type="text" class="validate">
          </div>
        </li>
        <li><a href="#" id="search"><i class="fas fa-search"></a></i>
          {{#unless user}}
        <li><a href="#">My Pantry</a></li>
        <li><a id="login-modal-button" href="#">Sign Up/Log in</a></li>
        {{/unless}}
        {{#if user}}
          <li><a id="pantry-modal-button" href="#">My Pantry</a></li>
          <li><img src="{{user.image_url}}"></li>
          <li><a href="/auth/logout">Logout</a></li>
          <li><a id="profile-modal-button" href="#">My Profile</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <main>
    {{!-- Add pantry search boxes here if logged in --}}
    {{#if user}}
    <div class="pantry-div">
      {{#each pantry}}
          <label>
            <input type="checkbox" name="ingredient-box" value={{ingredient}} class="pantry-search-box"/>
            <span class="pantry-search-item">{{ingredient}}</span>
          </label> 
      {{/each}}

        <button id="user-pantry-search" class="btn waves-effect waves-light orange darken-2" name="pantry-search">Search
        </button>
    </div>
    {{/if}}

    {{!-- Search results populate in card-wrapper --}}
    <div id="card-wrapper">
    </div>
  </main>


<footer class="orange">
  Designed and Coded by //TODO: Team Name (2019)
</footer>

  {{!-- recipie modals are dynamincally inserted here --}}
  <div id="modal-wrapper">

  </div>

  {{!-- Login/Sign-Up Modal opens on click event --}}
  <div id="sign-up" class="signup modal">
    <div class="modal-content">
      <h4>Welcome to My Pantry!</h4>
      <a href="/auth/google" class="modal-close waves-effect waves-green btn-flat">Login Using Google</a>

      <div class="row">
        <div class="row">
          <div class="input-field col s6">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>

          <div class="input-field col s6">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>

        <div class="row hide name">
          <div class="input-field col s12">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>

          <div class="input-field col s12">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <a href="#" id="login-button" class="waves-effect waves-green btn-flat">Login</a>
      <a href="#!" data-clicked="false" id="create-button" class="waves-effect waves-green btn-flat">Sign Up</a>
    </div>
  </div>
</div>

{{!-- Form to add items to user's pantry, opens on click event --}}
<div id="pantry" class="modal">
  <div class="modal-content pantry-modal">
    <h4 class="modal-header">My Pantry</h4>
    <form action="api/pantry" method="POST" class="pantry-text">
      <div class="input-field">
        <input id="pantryItem" type="text" class="validate" name="ingredient">
        <label for="pantryItem">Pantry Item</label>
      </div>
        <button class="submit-btn right-align btn waves-effect waves-light orange darken-2" type="submit">Add to Pantry
        </button>
    </form>
    <a href="#!" class="modal-close btn-flat recipe-x"><i class="fas fa-times"></i></a>
    <div class="pantry-items">
      <ul>
      {{#each pantry}}
        <li class="pantry-item">{{ingredient}}</li><button class="pantry-delete btn waves-effect waves-light orange darken-2" data-delete={{id}}><i class="fas fa-times"></i></button>
      {{/each}}
      </ul>
    </div>
  </div>
</div>

{{!-- User profile modal to update username & password, opens on click event --}}
<div id="profile" class="modal">
  <div class="modal-content">
    <h4>My Profile</h4> <img src="{{user.image_url}}">
    <br>
      <h5> Current User Name: {{user.username}}</h5>
      <h5> Current Password: {{user.password}}</h5>
    <br>
      <div class="row">
        <div class="row">
          <div class="input-field col s6">
            <input id="username" type="text" class="validate">
            <label for="username">New User Name</label>
          </div>
      
          <div class="input-field col s6">
            <input id="password" type="password" class="validate">
            <label for="password">New Password</label>
          </div>
          <p> Did you login using Google? Click <a href="https://support.google.com/accounts/answer/41078?co=GENIE.Platform%3DDesktop&hl=en&oco=0"> here </a> to update your Google profile. </p>
        </div>      
      </div>
  <button id="user-profile-update" class="btn waves-effect waves-light" type="submit" name="action">Update
  </button>
  </div>
</div>

</body>
</html>